body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #333333;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.navbar {
  /* background-color: #555454; */
  width: 100%;
  border-radius: 0px;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navList li {
  float: left;
}

.navList li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navList li a:hover {
  text-decoration: underline;
  color: #1e9406;
}

/* #userName {
    color: white;
} */

/* cant get it to display how I want it to yet */
/* #searchNav {
align-content: center;
} */


#logOut {
    margin-top: 15px;
    margin-left: 5px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    width: 23%;
    min-width: 225px;
    min-height: 300px;
}

.cards img {
   height: 350px;
}

.cards h3 {
    margin: 10px 0 0 0;
}

md-input-container.md-block.flex-gt-sm {
    margin: 5px 0 0 0;
}

.detailsDiv {
    padding-top: 20px;
}

#detailsBody {
    width: 70%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
#detailsImg {
    width: 25%;
}

#addToFavorite {
    background-color: #1e9406;
}

.genresDivList {
    align-items: center;
}

.genresDivList button {
    margin: 10px;
}

/* for manga details page */
.detailImage{
    width: 90%;
    max-height: 350px;
}

.clickable {
    cursor: pointer;
}

.logReg {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}

#info {
    position:relative;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}

.navItems a {
    padding-left: 10px;
    padding-right: 10px;
}

.navItems h3 {
    padding-right: 10px;
}


#genre {
    width: 100%;
    height: 150px
}

.results {
    width: 75%;
    height: 150px;
    margin: 0 auto;
    /* object-fit: cover; */
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#wrongLogin {
    color: red;
}

.cardsDiv {
    width: 75%;
}

.genresDiv {
    width: 25%;
}
