<div id="otherDivs">
<div ng-include="'views/partials/nav.html'"></div>
<div layout="row" layout-align="space-around center">
    <div>
        <img class="results" src="../../styles/images/Your Favorites!.png">
    </div>
    <div>
        <h2>
            <input type="text" placeholder="Filter Favorites" ng-model="query">
        </h2>
    </div>
</div>
<!-- Card for each Favorite -->
<div class="cardContainer" layout="row">
    <md-card class="cards" ng-repeat="favorites in vm.userFavorites.list.data.rows | filter:query">
        <img ng-src="{{favorites.manga_image_url}}" class="md-card-image clickable" alt="Washed Out" ng-click="vm.favoriteDetail(favorites)">
        <md-card-title>
            <md-card-title-text>
                <h3>{{favorites.manga_name}}</h3>
                <h3 ng-if="!favorites.hide">Latest Chapter: {{favorites.latest_chapter}}</h3>
                <div layout="row" layout-align="space-between center">
                    <div>
                        <h3 ng-if="!favorites.hide">Last Chapter Read: {{favorites.last_chapter_read}}</h3>
                    </div>
                    <!-- upon click shows the submit/cancel buttons, edit input and hides last chapter read and edit icon.) -->
                    <div>
                        <md-button class="md-icon-button" aria-label="Edit" ng-click="favorites.hide = !favorites.hide" ng-hide="favorites.hide">
                            <md-icon md-svg-icon="../../styles/icons/edit.svg"></md-icon>
                        </md-button>
                    </div>
                </div>
                <md-button ng-if="!favorites.hide" class="md-raised md-warn" ng-click="vm.removeFavorite(favorites)">Remove Favorite</md-button>
                <form ng-submit="vm.editChapterRead(favorites); favorites.hide = !favorites.hide">
                    <h3 ng-if="favorites.hide">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Latest Chapter: {{favorites.latest_chapter}}</label>
                            <input type="number" ng-model="favorites.newLatestChapter">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Last Chapter Read: {{favorites.last_chapter_read}}</label>
                            <input type="number" ng-model="favorites.newChapterRead">
                        </md-input-container>
                    </h3>
                </form>
                <!-- upon click hides the submit/cancel buttons & edit input and reshows edit icon & updated latest chapter read. Also sends this mangas information to client) -->
                <md-button ng-if="favorites.hide" class="md-raised md-primary" ng-click="vm.editChapterRead(favorites); favorites.hide = !favorites.hide">Submit</md-button>
                <!-- upon click hides the submit/cancel buttons, edit input and reshows edit icon & updated latest chapter read.) -->

                <md-button ng-if="favorites.hide" class="md-raised" ng-click="favorites.hide = !favorites.hide">Cancel</md-button>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>
</div>