<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <ul>
        <li>PostgreSQL</li>
        <li>Express.js</li>
        <li>AngularJS</li>
        <li>Node.js</li>
        <li>Passport.js</li>
        <li>Node-Rest-Client</li>
        <li>Angular Material</li>
        <li>
            <a href="https://myanimelist.net" target="_blank">MyAnimeList API</a>
        </li>
        <li>
            <a href="http://www.mangaeden.com/" target="_blank">MangaEden API</a>
        </li>
    </ul>
</div>