<div ng-include="'views/partials/nav.html'"></div>
<div id="info" layout="column" layout-align="center center">
    <div>
        <img class="fullLogo" src="../../styles/images/MyMangaTracker.png" alt="">
    </div>
    <div class="container">
            <h2>PostgreSQL</h2>
            <h2>Express.js</h2>
            <h2>AngularJS</h2>
            <h2>Node.js</h2>
            <h2>Passport.js</h2>
            <h2>Node-Rest-Ch2ent</h2>
            <h2>Angular Material</h2>
            <h2>
                <a href="https://myanimelist.net" target="_blank">MyAnimelist API</a>
            </h2>
            <h2>
                <a href="http://www.mangaeden.com/" target="_blank">MangaEden API</a>
            </h2>
    </div>
</div>